<mat-card>
    <mat-card-title> Excluir Divida</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Credor" [(ngModel)]="divida.nomeCredor" name="nomeCredor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Documento Credor" [(ngModel)]="divida.documentoCredor" name="documentoCredor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Título" [(ngModel)]="divida.titulo" name="titulo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor (R$)" [(ngModel)]="divida.valor" name="valor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Forma pagamento" [(ngModel)]="divida.formaPagamento" name="formaPagamento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Houve parcelamento?" [(ngModel)]="divida.houveParcelamento" name="houveParcelamento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Numero parcelas" [(ngModel)]="divida.numeroParcelas" name="numeroParcelas">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status" [(ngModel)]="divida.status" name="status">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateDivida()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>
</mat-card>
